#alexandria-pdf-container {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    color-scheme: only dark;
}

#alexandria-pdf-container a:hover {
    cursor: pointer;
    pointer-events: auto;
    background-color: transparent;
}

.inverted-color .page {
    filter:invert(1);
}

body > embed {
    display: none;
}

body > #annotationContainer {
    display: none;
}
