#alexandria-pdf-container {
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    color-scheme: only dark;
}

#alexandria-pdf-container a:hover {
    cursor: pointer;
    pointer-events: auto;
    background-color: transparent;
}

#alexandria-pdf-container .linkAnnotation {
    opacity: 0;
    z-index: 2;
}

#alexandria-pdf-container .figureAnnotation {
    opacity: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    pointer-events: auto;
}

#alexandria-pdf-container .floatingFigure {
    position: fixed;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    z-index: 10;
    max-width: 50%;
    max-height: 50%;
    border-radius: 10px;
    filter: drop-shadow(black 0 0 5px);
    /* resize: both; */
    /* overflow: scroll; */
}

.inverted-color .page {
    filter:invert(1);
}

body > embed {
    display: none;
}

body > #annotationContainer {
    display: none;
}
