<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariStyleSheet</key>
		<array>
			<dict>
				<key>Style Sheet</key>
				<string>style.css</string>
			</dict>
			<dict>
				<key>Style Sheet</key>
				<string>pdf_viewer.css</string>
			</dict>
		</array>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>main.js</string>
			</dict>
		</array>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.pdf</string>
			</array>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>NSHumanReadableDescription</key>
	<string>Alexandria improves the reading experience of academic PDFs.</string>
</dict>
</plist>
